.root {
  width: 100%;
  height: 80vh;
  display: flex;
}

.controlPanel{
  width: 12%;
}
.mainPanel{
  width: 100%;
  height: 100%;
}
.overview{
  height: 70%;
}
.otherview{
  height: 100%;
  display: flex;
}
.detailView{
  width: 55%;
}
.assistView{
  width: 40%;
}
