.root {
  width: 100%;
  height: 85vh;
  display: flex;
}

.controlPanel{
  width: 17%;
  height: 180vh;  
  background: radial-gradient(circle,#ecbaba,#8bcef8); 
  padding: 20px;
  margin-bottom: 10px;
  border: 5px solid;
  border-image: linear-gradient(to right, #ff7f50, #87cefa) 1;
}
.mainPanel{
  width: 100%;
  height: 100%;
}
.overview{
  height: 70%;
}
.otherview{
  height: 100%;
  display: flex;
}
.detailView{
  width: 55%;
}
.assistView{
  width: 40%;
}